div.title {
  color: #4b0722;
}
div.link {
  font-weight: bold;
}
div.transmissionnum {
  font-weight: bold;
  color: #00aa00;
}
div.error {
  font-weight: bold;
  color: #ff0000;
}
table.file-list {
  border-collapse: collapse;
}
table.file-tag-list {
  border-collapse: collapse;
}
.file-list, .file-heading, .file, .file-tag, .file-name, .file-update, .file-tags, .file-tag, .file-delete, .file-tag-list {
  border: 1px solid black;
}
.file-tag.multivalue {
  border-style: hidden;
}
tr.file-heading {
  background-color: #990000;
  color: #ffcc00;
}
tr.file.odd {
  background-color: #cccccc;
}
tr.file.even {

}
tr.file-tag.odd {
  background-color: #cccccc;
}
tr.file-tag.even {

}
th.file-tag {
  text-align: left;
}
td.bytes {
  text-align: right;
}
div.progress-wrapper {
  position: relative;
}
div.progress-bar {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
}
div.progress-text {
  text-align: center;
  position: relative;
}
table.topmargin {
  width: 100%;
}
table.topmargin td.logo {
  align: left;
}
table.topmargin td.title {
  align: center;
}
table.topmargin td.authninfo {
  align: right;
  width: 20%;
}
table.authninfo > tr.noauthn > td {
  color: green;
  font-style: italic;
}
table.topmenu td {
  padding: 10px;
}
table.query-add tr {
  vertical-align: top;
}
