$def with (tvars)
$ status = tvars.get('status')
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/st
rict.dtd">
<html>
<head>
  <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  <title>Applet Failed</title>
</head>
<body>
<h1>Applet Failed</h1>
<p>
$if status:
	${status}
$else:
	An unknown error prevented the applet from functioning.
</p>
<p>
If you plan to request help, please note the current time as well as
any other information you can remember about steps that preceded this
error.
</p>
</body>
</html>
