$def with ()
<ol>
  $if 'admin' in authn.roles:
  	<li><a href="${webauthnhome}/role/">Manage roles</a></li>
  $if 'uploader' in authn.roles:
	<li><a href="${homepath}/study?action=upload">Upload study</a></li>
  $if 'downloader' in authn.roles:
	<li><a href="${homepath}/study?action=download">Download study</a></li>
	<li><a href="${homepath}/query?action=edit">Query by tags</a></li>
  <li><a href="${help}">Help and documentation</a></li>
  <li><a href="${bugs}">View or submit bug reports/issues</a></li>
  $if 'admin' in authn.roles:
	<li><a href="${homepath}/tagdef">Manage available tag definitions (expert mode)</a></li>
	<li><a href="${homepath}/file?action=define">Create custom dataset (expert mode)</a></li>
</ol>

