$def with (target)
<h2>Getting Started</h2>
<ol>
  <li><a href="${target}/file?action=define">Define a new dataset</a></li>
  <li><a href="${target}/tagdef">Manage available tag definitions</a></li>
  <li><a href="${target}/query">Query datasets by tags</a></li>
  <li><a href="https://confluence.misd.isi.edu:8443/display/PSOC/PSOC+Tagfiler+Data+Repository">Help and documentation</a> (uses same login information as this service)</li>
  <li><a href="https://jira.chigrid.org:8444/browse/PSOC">View or submit bug reports/issues</a> (uses same login information as this service)</li>
</ol>
<h2>Existing Datasets</h2>
