$def with (file, tagdef, writetags, version)
$ writetags = [ tag for tag in writetags ]
$ tagnames = tagdefsdict.iterkeys()
$ typesdict = dict( [ (type['_type_name'], type) for type in typeinfo ] )
$ type = typesdict[tagdef.typestr]
$ typename = type['_type_description']
$ typevals = type['_type_values']
$ writeok = tagdef.get('writeok', True)
$ vals = file[tagdef.tagname]
$ vsuffix = ''
$if version:
	$ vsuffix = '@%s' % version
$if vals == None:
	$ itervals = []
$else:
	$if tagdef.multivalue:
		$ itervals = vals
	$else:
		$ itervals = [ vals ]
$if tagdef.typestr and tagspace=='tagdefacl' and ((tagdef.tagname=='readers' and file.readpolicy!='tag') or (tagdef.tagname=='writers' and file.writepolicy!='tag')):
	<!-- tagdef ${file.file} does not have ${tagdef.tagname} ACL. -->
$elif tagdef.typestr:
	<table class="file-tag-list">
	$for val in itervals:
		<tr>
		$:{render.TagValueForm(tagdef.tagname, tagdef.typestr, typevals, val)}
		<td class="file-tag ${idquote(tagdef.tagname)} multivalue delete">
		$if tagdef.tagname in writetags and writeok:
			$:{render.RemoveTagValueForm(file.file, vsuffix, tagdef.tagname, val)}
		</td>
		</tr>
	$if tagdef.tagname in writetags and writeok:
		$ options = tagOptions(tagdef.tagname, itervals)
		$:{render.SetTagValueForm(file.file, vsuffix, tagdef.tagname, typename, options)}
	</table>
$else:
	$:{render.SetTagForm(file.file, vsuffix, tagdef.tagname, vals, writeok)}
