$def with (title, apptarget, data_id, taginfo, urlquote)
<h2>${title}</h2>
$ excludes, tagdefs, tagdefsdict, tags, filetagvals, length, filewriteok = taginfo
$if title == 'System' and data_id:
	<a href="${apptarget + '/file/' + urlquote(data_id)}">Link to ${data_id}</a>
$if len(filetagvals) > 0:
	$for data_id, tag, vals in filetagvals:
		$ tagdef = tagdefsdict[tag]
		<fieldset>
		   <legend>${tag}</legend>
			$if tagdef.typestr:
				$for val in vals:
					<form enctype="application/x-www-form-urlencoded" action="${apptarget + '/tags/' + urlquote(data_id)}" method="post">
					<input type="hidden" name="tag" value="${tag}" />
					<input type="text" name="value" value="${val}" size="${length}" readonly />
					<input type="hidden" name="action" value="delete" />
					$if tag not in excludes and filewriteok:
						<input type="submit" value="Delete" />
					</form>
			$else:
				<form enctype="application/x-www-form-urlencoded" action="${apptarget + '/tags/' + urlquote(data_id)}" method="post">
				<input type="hidden" name="tag" value="${tag}" />
				<input type="hidden" name="action" value="delete" />
				$if tag not in excludes and filewriteok:
					<input type="submit" value="Delete" />
				</form>
		</fieldset>
$elif data_id:
	<p>There are no existing tags on "${data_id}".</p>
$else:
	<p>There are no existing tags in the catalog.</p>
