$def with (apptarget, data_id, tagvals, tagdefs, urlquote)
<h2>Existing tags</h2>
$if len(tagvals) > 0:
	$for tag in tagvals.iterkeys():
		$ val = tagvals[tag]
		$ tagdef = tagdefs[tag]
		<form enctype="application/x-www-form-urlencoded" action="${apptarget + '/tags/' + urlquote(data_id)}" method="post">
		  <fieldset>
		    <legend>${tag}</legend>
		    <input type="hidden" name="tag" value="${tag}" />
		    	$if tagdef.typestr:
		    		<input type="text" name="value" value="${val}" readonly />
		    <input type="hidden" name="action" value="delete" />
		    <input type="submit" value="Delete" />
		  </fieldset>
		</form>
$else:
	<p>There are no existing tags on "${data_id}".</p>
