$def with (title, files, tagdefs)
$if title:
	<h2>${title}</h2>
$if title == 'System' and datapred:
	<a href="${home + '/file/' + datapred}">Link to ${dataname}</a>
$ odd = True
<table class="file-list">
<tr class="file-heading"><th class="file-name">Subject</th><th class="file-tag">Tag</th><th class="file-tag">Value(s)</th></tr>
$for file in files:
	$ datapred, dataid, dataname = subject2identifiers(file)
	$for tagdef in tagdefs:
		$if odd:
			<tr class="file odd"><td class="file-name">${dataname}</td><td>${tagdef.tagname}</td>
		$else:
			<tr class="file even"><td class="file-name">${dataname}</td><td>${tagdef.tagname}</td>
		$ odd = not odd
		<td class="file-tag">$:{render.FileTagValBlock(file, tagdef, [tagdef.tagname], None)}</td>
		</tr>
</table>
