$def with (apptarget, data_id, tagvals, tagdefsdict, predefinedTags, length, title, urlquote)
<h2>${title}</h2>
$if title == 'Predefined tags':
	<a href="${apptarget + '/file/' + urlquote(data_id)}">Link to ${data_id}</a>
$if len(tagvals) > 0:
	$for tag, vals in tagvals:
		$ tagdef = tagdefsdict[tag]
		<fieldset>
		   <legend>${tag}</legend>
			$if tagdef.typestr:
				$for val in vals:
					<form enctype="application/x-www-form-urlencoded" action="${apptarget + '/tags/' + urlquote(data_id)}" method="post">
					<input type="hidden" name="tag" value="${tag}" />
					<input type="text" name="value" value="${val}" size="${length}" readonly />
					<input type="hidden" name="action" value="delete" />
					$if tag not in predefinedTags:
						<input type="submit" value="Delete" />
					</form>
			$else:
				<form enctype="application/x-www-form-urlencoded" action="${apptarget + '/tags/' + urlquote(data_id)}" method="post">
				<input type="hidden" name="tag" value="${tag}" />
				<input type="hidden" name="action" value="delete" />
				$if tag not in predefinedTags:
					<input type="submit" value="Delete" />
				</form>
		</fieldset>
$else:
	<p>There are no existing tags on "${data_id}".</p>
