$def with (target, files, referer, quote)
$if len(files) > 0:
	$for name, local, writeok, imgset in files:
		$ links = []
		$if local:
			$ links.append( '<a href="%s/file/%s">Download</a>' % (target, quote(name)) )
		$else:
			$ links.append( '<a href="%s/file/%s">View</a>' % (target, quote(name)) )
		$if imgset:
			$ links.append( 'TBD image set links...' )
		$ links.append( '<a href="%s/tags/%s">Tags</a>' % (target, quote(name)) )
		$if writeok:
			$for type in [ 'file', 'url' ]:
				$ links.append( '<a href="%s/file/%s?action=define&amp;type=%s">Replace with %s</a>' % (target, quote(name), type, type) )
		<fieldset>
		  <legend>${name}</legend>
		  <table>
		  <tr>
		  <td>
			  $:{', '.join(links)}
		  </td>
		  <td>
		  $if writeok:
		  	<form enctype="application/x-www-form-urlencoded" action="${target}/file/${quote(name)}" method="post">
			    <div>
			    <input type="hidden" name="action" value="delete" />
			    <input type="hidden" name="referer" value="${referer}" />
			    <input type="submit" value="Delete" />
			    </div>
			</form>
		  </td>
		  </tr>
		  </table>
		</fieldset>
$else:
	<p>There are no files to list.</p>
