$def with (tvars)
$ apptarget = tvars.get('apptarget')
$ files = tvars.get('files')
$ referer = tvars.get('referer')
$ role = tvars.get('role')
$ roles = tvars.get('roles')
$ urlquote = tvars.get('urlquote')
$ filelisttags = tvars.get('filelisttags')
$ filelisttagswrite = tvars.get('filelisttagswrite')
$ tagdefs = tvars.get('tagdefs')
$ idquote = tvars.get('idquote')
$ skiptags =  ['Image Set']
$ allroles = tvars.get('roleinfo')
$ odd = True
$if len(files) > 0:
	<table class="file-list">
	<tr class="file-heading">
	<th class="file-name">Dataset</th>
	<th class="file-tags">Tags</th>
	<th class="file-update">Update</th>
	$for tag in filelisttags:
		$if tag not in skiptags:
			<th class="file-tag ${idquote(tag)}">$:{tag.replace(" ", "&nbsp;")}</th>
	</tr>
	$for file in files:
		$if odd:
			<tr class="file odd">
		$else:
			<tr class="file even">
		$ odd = not odd
		<td class="file-name">
		$if file['Image Set'] and 'downloader' in roles:
			${file.file}
		$else:
			$if file.local:
				$ label = 'Download'
			$else:
				$ label = 'View'
			<a href="${apptarget}/file/${urlquote(file.file)}">${file.file}</a>
		$if file['Image Set']:
			<a href="${apptarget}/study/${urlquote(file.file)}?action=download">all&nbsp;parts</a>
		$if file.writeok:
			<form enctype="application/x-www-form-urlencoded" action="${apptarget}/file/${urlquote(file.file)}" method="post">
			    <div>
			    <input type="hidden" name="action" value="delete" />
			    <input type="hidden" name="referer" value="${referer}" />
			    <input type="submit" value="Delete" />
			    </div>
			</form>
		</td>
		<td class="file-tags">
		$if 'downloader' in roles:
			<!-- Tags -->
		$else:
			<a href="${apptarget}/tags/${urlquote(file.file)}">Tags</a>
		</td>
		<td class="file-update">
		$if file.writeok:
			<a href="${apptarget}/file/${urlquote(file.file)}?action=define&amp;type=file">Replace&nbsp;with&nbsp;file</a><br />
			<a href="${apptarget}/file/${urlquote(file.file)}?action=define&amp;type=url">Replace&nbsp;with&nbsp;url</a>
		</td>
		$for tag in filelisttags:
			$if tag in skiptags:
				
			$elif tagdefs.has_key(tag):
				<td class="file-tag ${idquote(tag)}">
				$if tagdefs[tag].typestr == '':
					$if tag in filelisttagswrite:
						<form enctype="application/x-www-form-urlencoded" action="${apptarget}/tags/${urlquote(file.file)}" method="post">
						<input type="hidden" name="referer" value="${referer}" />
					$if file[tag]:
						$if tag in filelisttagswrite:
							${tag}
							<input type="hidden" name="tag" value="${tag}" />
							<input type="hidden" name="action" value="delete" />
							<input type="submit" value="Clear" />
					$else:
						$if tag in filelisttagswrite:
							<input type="hidden" name="set-Downloaded" value="true" />
							<input type="hidden" name="action" value="put" />
							<input type="submit" value="Set ${tag}" />
					$if tag in filelisttagswrite:
						</form>
				$else:
					$if tagdefs[tag].multivalue:
						$if file[tag]:
							$ vals = file[tag]
						$else:
							$ vals = []
					$elif file[tag] != None:
						$ vals = [ file[tag] ]
					$else:
						$ vals = []
					<table class="file-tag-list">
					$for val in vals:
						<tr>
						$if tag in filelisttagswrite:
							<td class="file-tag ${idquote(tag)} multivalue">${val}</td>
							<td class="file-tag ${idquote(tag)} multivalue delete"><form enctype="application/x-www-form-urlencoded" action="${apptarget}/tags/${urlquote(file.file)}" method="post">
							<input type="hidden" name="referer" value="${referer}" />
							<input type="hidden" name="tag" value="${tag}" />
							<input type="hidden" name="value" value="${val}" />
							<input type="hidden" name="action" value="delete" />
							<input type="submit" value="Delete Value" />
							</form></td>
						$else:
							<td class="file-tag ${idquote(tag)} multivalue">${val}</td>
						</tr>
					$if tag in filelisttagswrite:
						<tr><form enctype="application/x-www-form-urlencoded" action="${apptarget}/tags/${urlquote(file.file)}" method="post">
						<input type="hidden" name="referer" value="${referer}" />
						<input type="hidden" name="set-${urlquote(tag)}" value="true" />
						<td class="file-tag ${idquote(tag)} multivalue input">
						$if tagdefs[tag].typestr == 'role':
							$if tagdefs[tag].multivalue and file[tag]:
								$ thisroles = file[tag]
							$elif file.get(tag, None):
								$ thisroles = [ file[tag] ]
							$else:
								$ thisroles = []
							<!-- $:{thisroles} -->
							<!-- $:{set(allroles)} -->
							$ availroles = [ role for role in set(allroles).difference(set(thisroles)) ]
							$ availroles.sort()
							<select name="val-${urlquote(tag)}">
							<option value="">Choose a role</option>
							$for role in availroles:
								<option	value="${role}">${role}</option>
							</select>
						$else:
							<input type="text" name="val-${urlquote(tag)}" />
						</td>
						<input type="hidden" name="action" value="put" /><td class="file-tag ${idquote(tag)} multivalue set">
						$if tagdefs[tag].multivalue:
							<input type="submit" value="Add Value" />
						$else:
							<input type="submit" value="Set Value" />
						</td></form></tr>
					</table>
				</td>
		</tr>
	</table>
$elif 'uploader' in roles:
	<p></p>
$else:
	<p>There are no items to list with your current privileges.</p>
