$def with ()
<form id="NameForm"  name="NameForm" enctype="application/x-www-form-urlencoded" action="${home + "/file/"}" method="post" onsubmit="return validateNameForm()" >
<div id="NameForm_div">
<h3>Choose Name and Type of Data</h3>
<input type="hidden" name="action" value="put" />
<td>Enter a name for the dataset:</td>
<input name="name" type="text" id="datasetName" /><br />
Select a type of dataset definition: 
<select name="type" id="type" onchange="document.getElementById('fileName').style.display = (document.getElementById('type').value == 'file' ? 'inline' : 'none');">
  <option value="blank">blank (Metadata-only dataset)</option>
  <option value="contains">contains (Collection of unversioned datasets)</option>
  <option value="file">file (Upload a file)</option>
  <option value="typedef">typedef (Type definition)</option>
  <option value="vcontains">vcontains (Collection of versioned datasets)</option>
  <option value="url">url (URL redirecting dataset)</option>
</select>
<input name="myfile" type="file" id="fileName" style="display:none;"/><br />
Select an initial read permission:
<select name="read users" id="read users">
  <option value="owner">Only owner may read</option>
  <option value="*">Anybody may read</option>
</select><br />
Select an initial write permission:
<select name="write users" id="write users">
  <option value="owner">Only owner may write</option>
  <option value="*">Anybody may write</option>
</select><br />
</div>
<input type="submit"  id="submit" value="Submit" />
</form>
<div id="Copy">
</div>

