$def with (target, predlist, ops)
<h2>Current Query</h2>
<p><a href="${target}">Permanent link to this query</a></p>
<p>Match files tagged with all of the following tags:</p>
$for pred in predlist:
	<form enctype="application/x-www-form-urlencoded" action="${target}" method="get">
	  <fieldset>
	    <legend>${pred['tag']}</legend>
	    $if pred['op']:
	    	${ops[pred['op']]}:
	    	$ count = 0
	    	$for val in pred['vals']:
	    		$if count != 0:
	    			OR
	    		<tt style="color:green">
		    		$ t = 0
		    		$ v = ''
		    		$ s = 0
		    		$for c in val:
		    			$if c == ' ':
		    				$ s += 1
		    				$if len(v) > 0:
		    					$if s >= 2 or (s >= 1 and t == 1):
		    						&nbsp;${v}
		    						$ s = 1
		    					$else:
		    						${v}
		    					$ v = ''
		    					$ t = 0
		    				$else:
			    				$if s == 3:
		    						$if t == 1:
		    							$ s = 1
		    						$else:
		    							$ s = 0
			    					&nbsp;
			    					$ t = 1
		    			$else:
		    				$if s == 0:
		    					$ t = 0
		    				$ v += c
		    		$if len(v) > 0:
			    		$if s == 2:
			    			&nbsp;&nbsp;${v}
			    		$elif s == 1:
			    			&nbsp;${v}
			    		$else:
			    			${v}
	    		</tt>
	    		$ count += 1
		<input type="hidden" name="op" value="${pred['op']}" />
		<input type="hidden" name="vals" value="${pred['vals']}" />
	    <input type="hidden" name="tag" value="${pred['tag']}" />
	    <input type="hidden" name="action" value="delete" />
	    <input type="submit" value="Remove from query" />
	  </fieldset>
	</form>
<h2>Results Preview</h2>
