$def with (target, tagdefs, typenames)
<h2>Define</h2>
<p>For convenience, up to ten (10) tags may be defined at once:
  <ol>
    <li>Enter a tag name</li>
    <li>Configure the tag properties:
	<ol>
	    <li>Select the desired type for a tag content (default: no content)</li>
	    <li>Select the tag content cardinality (default: zero or one)</li>
	    <li>Select the tag modification rules (default: anyone may change)</li>
	</ol>
    </li>    
    <li>Repeat previous steps for up to ten (10) tags</li>
    <li>Select "Define" to add these definitions</li>
  </ol>
<p>You may return to this page and create as many tags as desired.</p>
<p>Warning: any error such as trying to create a tag name that already exists will cause all definitions in the same page to be abandoned. Therefore, you may define one tag at a time if you are uncertain which one is causing the error.</p>
<form enctype="application/x-www-form-urlencoded" action="${target}" method="post">
$ policies = dict(anonymous='Any client may %s tags for any file', users='Any authenticated client may %s tags for any file', file='A client may %s tags only for files which they have this access', fowner='A client may %s tags only for files which they own', tag='A client may %s tags only based on tagdef ownership or tagdef ACL')
$for i in range(1,11):
	<fieldset>
	  <legend>New tag ${i}</legend>
	  <input name="tag-${i}" type="text" />
	  <select name="type-${i}">
	  $ typestr = typenames.keys()[0]
	  <option value="${typestr}">${typenames[typestr]}</option>
	  $for typestr in typenames.keys()[1:]:
	      		<option value="${typestr}">${typenames[typestr]}</option>
	  </select>
	  <select name="multivalue-${i}">
	    <option value="false">Files may be tagged with 0 or 1 value</option>
	    <option value="true">Files may be tagged with 0 or more values</option>
	  </select>
	  <select name="readpolicy-${i}">
	    $for pol in ['anonymous', 'users', 'file', 'fowner', 'tag']:
	    	<option value="${pol}">${policies[pol] % 'read'}</option>
	  <select name="writepolicy-${i}">
	    $for pol in ['users', 'anonymous', 'file', 'fowner', 'tag']:
	    	<option value="${pol}">${policies[pol] % 'write'}</option>
	  </select>
	</fieldset>
<p>
<input type="hidden" name="action" value="add" />
<input type="submit" value="Define tag(s)" />
<input type="reset" value="Reset form" />
</p>
</form>
