$def with (target, tagdefs, typenames)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<h2>Existing tag definitions</h2>
<p>
$if len(tagdefs) > 0:
	$for tagdef in tagdefs:
		$ tagname, typestr = tagdef
		<form enctype="application/x-www-form-urlencoded" action="${target}" method="post">
		  <fieldset>
		    <legend>${tagname}</legend>
		<input type="hidden" name="tag" value="${tagname}" />
		<input type="hidden" name="action" value="delete" />
		<input type="submit" value="Delete" />
		$if typestr != '':
			(${typenames[typestr]})
		</fieldset>
		</form>
$else:
	There are no tags currently defined.
</p>
