$def with (tvars)
$ title = tvars.get('title')
$ target = tvars.get('target')
$ typenames = tvars.get('typenames')
$ tagdefs = tvars.get('tagdefs')
$ test_tagdef_authz = tvars.get('test_tagdef_authz')
$ urlquote = tvars.get('urlquote')
$ odd = True
$# the following nonsense line is due to a bug in the template engine... don't know why it works but it does!
$for foo in [ 0 ]:
$code
	def tagpolicy(tagname, policy, mode):
		aclurl = target + 'acl/' + urlquote(tagname)
		acldesc = []
		if owner != None:
			acldesc.append(owner)
		acldesc.append('clients in <a href="%s">tagdef ACL</a>' % aclurl)
		acldesc = " and ".join(acldesc)
		m = dict(anonymous=None, 
			users='any authenticated user', 
			file=('same clients who can %s file' % mode),
			fowner='owner of file',
			tag=acldesc, 
			system='system')
		r = m[policy]
		if r:
			return 'only %s' % ( r)
		else:
			return ''
<h2>${title}</h2>
<p>
<table class="file-list">
<tr class="file-heading">
<th class="tag-name">Tag name</th>
<th class="tag-type">Type</th>
<th class="tag-multivalue">Cardinality</th>
<th class="tag-owner">Owner</th>
<th class="tag-readpolicy">Read restrictions</th>
<th class="tag-writepolicy">Write restrictions</th>
<th class="tag-delete">Apply</th>
</tr>
$if title == 'User':
    <tr>
    <form enctype="application/x-www-form-urlencoded" action="${target}" method="post">
    <td><input name="tag-1" type="text" /></td>
    <td><select name="type-1">
    $ typestr = typenames.keys()[0]
    <option value="${typestr}">${typenames[typestr]}</option>
    $for typestr in typenames.keys()[1:]:
	    <option value="${typestr}">${typenames[typestr]}</option>
    </select></td>
    <td><select name="multivalue-1">
    <option value="false">0 or 1</option>
    <option value="true">0 or more</option>
    </select></td>
    <td>N/A</td>
    $ policies = dict(anonymous='anyone', users='only authenticated users', file='only clients who can access file', fowner='only owner of file', tag='only clients in tagdef ACL')
    <td><select name="readpolicy-1">
    $for pol in ['anonymous', 'users', 'file', 'fowner', 'tag']:
	    <option value="${pol}">${policies[pol]}</option>
    </select></td>
    <td><select name="writepolicy-1">
    $for pol in ['users', 'anonymous', 'file', 'fowner', 'tag']:
	    <option value="${pol}">${policies[pol]}</option>
    </select></td>
    <td>
    <input type="hidden" name="action" value="add" />
    <input type="submit" value="Define tag" />
    </td>
    </form>
    </tr>
    $ odd = not odd
$for tagdef in tagdefs:
	$ tagname, typestr, multivalue, readpolicy, writepolicy, owner = tagdef
	$if odd:
		<tr class="file odd">
	$else:
		<tr class="file even">
	$ odd = not odd
	<td class="tag name">${tagname}</td>
	<td class="tag type">${typenames[typestr]}</td>
	<td class="tag cardinality>">
	$if multivalue:
		0 or more
	$else:
		0 or 1
	</td>
	<td class="tag owner">${owner}</td>
	<td class="tag read acl">
	$ readrestriction = tagpolicy(tagname, readpolicy, 'read')
	$if readrestriction:
		$:readrestriction
	</td>
	<td class="tag write acl">
	$ writerestriction = tagpolicy(tagname, writepolicy, 'write')
	$if writerestriction:
		$:writerestriction
	</td>
	<td class="tag delete">
	<form enctype="application/x-www-form-urlencoded" action="${target}" method="post">
	<input type="hidden" name="tag" value="${tagname}" />
	<input type="hidden" name="action" value="delete" />
	$if test_tagdef_authz('write', tagname):
		<input type="submit" value="Delete" />
	</form>
	</td>
	</tr>
</table>
