$def with (args)
$ filerecord = args.get('filerecord')
$ tagname = args.get('tagname')
$ typestr = args.get('typestr')
$ typevals = args.get('typevals')
$ val = args.get('val')
$ type = args.get('type')
$ id = args.get('id')
$ name = args.get('name')
$ disabled = args.get('disabled')
$ readonly = args.get('readonly', '')
$ showversions = args.get('showversions', False)
$if type:
	<td>
	<input id="${id}" type="${type}" value="${val}" ${readonly} 
	$if name:
		name="${name}"
	$if disabled:
		disabled="disabled"
	/>
$else:
	<td class="file-tag ${idquote(tagname)} multivalue">
	$if tagname == 'id':
		$ datapred = None
		$for tagname in [ 'tagdef', 'typedef' ]:
			$ keyv = filerecord.get(tagname, None)
			$if keyv:
				$if tagdefsdict[tagname].multivalue:
					$ keyv = keyv[0]
				$ datapred = '%s=%s' % (urlquote(tagname), urlquote(keyv))
				$ dataid = datapred
				$ dataname = '%s=%s' % (tagname, keyv)
				$break
		$ name = filerecord.get('name', None)
		$ version = filerecord.get('version', None)
		$if datapred == None:
			$if version != None and name != None and showversions:
				$ dataid = '%s@%s' % (urlquote(name), version)
				$ datapred = 'name=%s;version=%s' % (urlquote(name), version) 
				$ dataname = '%s@%s' % (name, version)
			$elif name != None:
				$ dataid = urlquote(name)
				$ datapred = 'name=%s' % urlquote(name) 
				$ dataname = name
			$else:
				$ datapred = 'id=%s' % filerecord.id
				$ dataid = datapred
				$ dataname = datapred
		<table><tr><td><a href="${home}/file/${dataid}">${dataname}</a> <a href="${home}/tags/${datapred}">(tags)</a>
		$if filerecord.get('Image Set', False):
			<a href="${home}/study/${dataid}?action=download">(all&nbsp;parts)</a>
		</td>
		$if filerecord.writeok:
			<td>
			<form enctype="application/x-www-form-urlencoded" action="${home}/file/${dataid}" method="post">
			    <div>
			    <input type="hidden" name="action" value="delete" />
			    <input type="hidden" name="referer" value="${referer}" />
			    <input type="submit" value="Delete" />
			    </div>
			</form>
			</td>
			</tr>
			<tr>
			<td colspan="2">
			Replace with: <a href="${home}/file/${dataid}?action=define&amp;type=file">file</a>, <a href="${home}/file/${dataid}?action=define&amp;type=url">url</a>, <a href="${home}/file/${dataid}?action=define&amp;type=dataset">dataset</a>
			</td>
		</tr>
		</table>
	$elif tagname == 'tagdef' or typestr in ['tagname', 'tagdef']:
		<a href="${home}/tags/tagdef=${urlquote(val)}?view=tagdef%20tags">${val}</a>
	$elif typevals:
		$# this lambda is to simulate ternary operator in Python 2.4
		${val} ${(lambda s: ("", "(%s)" % s)[len(s) > 0])(typevals.get(val, ''))}
	$elif typestr == 'url':
		<a href="${val}">${val}</a>
	$elif typestr == 'file':
		<a href="${home}/file/${urlquote(val)}">${val}</a>
	$elif typestr == 'vfile':
		$ parts = val.split('@')
		$ version = parts[-1]
		$ base = '@'.join(parts[0:-1])
		<a href="${home}/file/${urlquote(base)+'@'+version}">${base+'@'+version}</a>
	$else:
		${val}
</td>
