$def with (tvars)
$# many parameters (some optional) are passed in this tvars dictionary
$ title = tvars.get('title')
$ appsubtitle = tvars.get('subtitle')
$ logo = tvars.get('logo')
$ home = tvars.get('home')
$ help = tvars.get('help')
$ jira = tvars.get('bugs')
$ webauthnhome = tvars.get('webauthnhome')
$ webauthnrequire = tvars.get('webauthnrequire')
$ pollmins = tvars.get('pollmins')
$ authn = tvars.get('authn')
$if appsubtitle and title:
	$ titles = appsubtitle + ': ' + title
$elif appsubtitle:
	$ titles = appsubtitle
$elif title:
	$ titles = title
$else:
	$ titles = home
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  <title>${titles}</title>
  <link rel="stylesheet" type="text/css" href="${home}/static/main.css">
  <script type="text/javascript" src="${home}/static/functions.js"></script>
  <script type="text/javascript">
    $if pollmins and authn.role:
    	runSessionPolling(${pollmins}, ${2 * pollmins});
    $if webauthnrequire:
    	redirectToLogin = true;
  </script>
</td>
</head>
<body>
<table class="topmargin">
<tr>
$if logo:
	<td class="logo">$:{logo}</td>
$if appsubtitle:
	<td class="title"><h1>${appsubtitle}</h1></td>
<td class="authninfo">
<table class="authninfo">
$if authn.role:
	$ rfc1123 = "%a, %d %b %Y %H:%M:%S UTC%z"
	<tr><td>User:</td><td><a href="${webauthnhome}/status">${authn.role}</a></td></tr>
	$ passwdurl = authn.getPasswdUrl()
	$ logouturl = authn.getLogoutUrl()
	$if logouturl:
		<tr><td></td><td><a href="${logouturl}">log&nbsp;out</a></td></tr>
	$if passwdurl:
		<tr><td></td><td><a href="${passwdurl}">change&nbsp;password</a></td></tr>
	$if authn.since:
		<tr><td>Since:</td><td><span id="sincetime">${authn.since.strftime(rfc1123)}</span></td>
		<script type="text/javascript">
		localizeDate("sincetime");
		</script></tr>
	$if authn.until:
		<tr><td>Expires:</td><td><span id="untiltime">${authn.until.strftime(rfc1123)}</span></td>
		<script type="text/javascript">
		localizeDate("untiltime");
		</script></tr>
$else:
	<tr class="noauthn"><td>Login User:</td><td>not logged in</td></tr>
	$ loginurl = authn.getLoginUrl()
	$if loginurl:
		<tr><td><a href="${loginurl}">Log in now</a></td></tr>
</table>
</td>
</tr>
</table>
<div class="page">
<table class="topmenu">
  <tr>
    <td>
      <a href="${home}/">Home</a>
    </td>
    $if webauthnhome and 'admin' in authn.roles:
    	<td>
			<a href="${webauthnhome}/role/">Manage roles</a>
		</td>
	<td>
		<a href="${home}/study?action=upload">Upload study</a>
	</td>
    <td>
		<a href="${home}/study?action=download">Download study</a>
	</td>
    <td>
		<a href="${home}/query?action=edit">Query by tags</a>
	</td>
    <td>
		<a href="${help}">Help</a>
    </td>
    <td>
		<a href="${jira}">Bugs</a>
	</td>
    $if 'admin' in authn.roles:
    	<td>
	<a href="${home}/log">Logs</a>
	</td>
  </tr>
</table>
$if title:
	<h2>${title}</h2>
<div class="content">
