$def with (tvars)
$ target = tvars.get('target')
$ transmissionnum = tvars.get('transmissionnum')
$ testfile = tvars.get('testfile')
$ appletlog = tvars.get('appletlog')
$ tags = tvars.get('tags')
$ requiredtags = tvars.get('requiredtags')
$ customproperties = tvars.get('customproperties')

<div>
	<h3>Status</h3>
	<table>
		<tr>
			<td class="applet">
				<APPLET NAME="TagFileDownloader" CODE="edu.isi.misd.tagfiler.TagFilerDownloadApplet" CODEBASE="/tagfiler/static"
				 ARCHIVE="isi-misd-tagfiler-upload.jar,apache-mime4j-0.6.jar,commons-codec-1.4.jar,commons-logging-1.1.1.jar,httpclient-4.0.3.jar,httpcore-4.0.1.jar,httpmime-4.0.3.jar,jakarta-commons-httpclient-3.1.jar,jsse.jar,plugin.jar"
				  width=25 height=25 MAYSCRIPT >
				<PARAM name="tagfiler.server.url" value="${target}"/>
				<PARAM name="tagfiler.server.transmissionnum" value="${transmissionnum}"/>
				<PARAM name="classloader_cache" value="false" />
				<PARAM name="separate_jvm" value="true" />
				$if testfile:
					<PARAM name="tagfiler.applet.test" value="${testfile}"/>
				$if appletlog:
					<PARAM name="tagfiler.applet.log" value="${appletlog}"/>
				$if customproperties:
					<PARAM name="custom.properties" value="${customproperties}"/>
				<hr><b>You must have Java-enabled browser (JRE 1.5+) to run the TagFiler Applet.
				  Download JRE 1.5 for your system from the following link:</b><br/>
				<a href="http://www.java.com/en/download/manual.jsp">http://www.java.com/en/download/manual.jsp</a><br/><hr>
				</APPLET>
			</td>
			<td>
				<table>
					<tr>
						<td class="status-wrapper" id="Status"><b>Click "Update" to fill the form</b></td>
					</tr>
					<tr>
						<td>
							<table class="table-border">
								<tr>
									<td id="ProgressBar">
									$for i in 'Click "Update" to fill the form':
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<div>
	<h3>Transmission Number</h3>
	<table>
		<tr>
			<td>
				$if transmissionnum:
					<input id="TransmissionNumber" type="text" disabled="disabled" value="${transmissionnum}"/>
				$else:
					<input id="TransmissionNumber" value="" disabled="disabled" type="text" />
			</td>
			<td>
				<button id="UpdateButton" type="button" name="Update" disabled="disabled" onclick="getDatasetInfo()" >Update</button>
			</td>
		</tr>
	</table>
</div>
<div>
	<h3>Destination Directory for Download</h3>
	<table>
		<tr>
			<td class="directory" id="DestinationDirectory">
				$for i in range(20):
					&nbsp;
			</td>
			<td>
				<button type="button" name="Browse" id="Browse" disabled="disabled" onclick="downloadBrowse()" >Browse</button>
			</td>
		</tr>
	</table>
</div>
<div>
	<h3>Submit</h3>
	<button type="button" name="Download Files" id="Download Files" disabled="disabled" onclick="downloadFiles()" >Download Files</button>
</div>
<div>
	<h3>Dataset Tags</h3>
	<table>
		<tr>
			<td>
				<div id="custom-tags">
					<table class="table-wrapper" rules="all" id="Dataset Tags">
						$for tag in tags:
							<tr>
								$ name, type = tag
								<td class="tag-name">${name}</td>
								<td id="${name}_val"> 
								$for i in range(20):
									 &nbsp;
								</td>
							 </tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<div>
	<h3>File(s) that will be downloaded</h3>
	<table class="file-list">
		<tr>
			<td class="text-tree" id="Files">
			$for i in 'File(s) that will be downloaded':
				&nbsp;
			</td>
		</tr>
	</table>
</div>
