$def with (tvars)
$ target = tvars.get('target')
$ transmissionnum = tvars.get('transmissionnum')
$ expiremins = tvars.get('expiremins')
$ testfile = tvars.get('testfile')
$ tagnames = tvars.get('tagnames')

$if tagnames:
	<center>
		<table>
			<tr>
				<td align="center"><b>Enter Transmission Number</b></td>
			</tr>
			<tr>
				<td align="center">
					$if transmissionnum:
						<input id="TransmissionNumber" type="text" disabled="disabled" value="${transmissionnum}"/>
					$else:
						<input id="TransmissionNumber" value="" type="text" />
				</td>
			</tr>
			<tr>
				<td align="center">
					$if transmissionnum:
						<button id="UpdateButton" type="button" name="Update" disabled="disabled" onclick="getDatasetInfo()" >Update</button>
					$else:
						<button id="UpdateButton" type="button" name="Update" onclick="getDatasetInfo()" >Update</button>
				</td>
			</tr>
		</table>
	</center>
	<div>
		<table>
			<tr>
				<td align="center"><table><tr><td><b>Dataset tags</b></td></tr></table></td>
				<td align="center"><table><tr><td><b>File(s) that will be downloaded</b></td></tr></table></td>
			</tr>
			<tr valign="top" >
				<td align="center">
					<div style="overflow:auto; width: 600px;">
						<table frame="box" rules="all" id="Dataset Tags">
						$for tagname in tagnames:
							<tr>
								<td style="background-color: aqua;">${tagname}</td>
								<td id="${tagname}_val">
									$for i in range(40):
										&nbsp;
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td valign="top" align="center">
					<table frame="box">
						<tr>
							<td>
								<div style="overflow:auto; height: 412px; width: 1000px">
									<table>
										<tr>
											<td NOWRAP id="Files">
											$for i in 'File(s) that will be downloaded':
												&nbsp;
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
<center>
<APPLET NAME="TagFileDownloader" CODE="edu.isi.misd.tagfiler.TagFilerDownloadApplet" CODEBASE="/tagfiler/static"
 ARCHIVE="isi-misd-tagfiler-upload.jar,apache-mime4j-0.6.jar,commons-codec-1.4.jar,commons-logging-1.1.1.jar,httpclient-4.0.3.jar,httpcore-4.0.1.jar,httpmime-4.0.3.jar,jakarta-commons-httpclient-3.1.jar,jsse.jar,plugin.jar"
  width=370 height=50 MAYSCRIPT >
<PARAM name="tagfiler.server.url" value="${target}"/>
<PARAM name="tagfiler.server.transmissionnum" value="${transmissionnum}"/>
<PARAM name="tagfiler.idle.mins" value="${expiremins}"/>
<PARAM name="classloader_cache" value="false" />
<PARAM name="separate_jvm" value="true" />
$if testfile:
	<PARAM name="tagfiler.applet.test" value="${testfile}"/>
<hr><b>You must have Java-enabled browser (JRE 1.5+) to run the TagFiler Applet.
  Download JRE 1.5 for your system from the following link:</b><br/>
<a href="http://www.java.com/en/download/manual.jsp">http://www.java.com/en/download/manual.jsp</a><br/><hr>
</APPLET>
</center>
<center>
<button type="button" name="Download Files" id="Download Files" disabled="disabled" onclick="downloadFiles()" >Download Files</button>
</center>
<table>
	<tr>
		<td><b>Destination directory for saving files:&nbsp;</b></td>
		<td><input id="DestinationDirectory" type="text" size="100" /></td>
	</tr>
</table>
<center>
	<table>
		<tr>
			<td id="Status" align="center"><b>Click "Update" to fill the form</b></td>
		</tr>
		<tr>
			<td align="center">
				<table frame="box">
					<tr>
						<td id="ProgressBar">
						$for i in 'Click "Update" to fill the form':
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>
$if transmissionnum:
	<script type="text/javascript">
		setTimeout("getDatasetInfo()", 1000);
	</script>
