$def with (tvars)
$ target = tvars.get('target')
$ expiremins = tvars.get('expiremins')
$ testfile = tvars.get('testfile')
<center>
<APPLET NAME="TagFileUploader" CODE="edu.isi.misd.tagfiler.TagFilerUploadApplet" CODEBASE="/tagfiler/static"
 ARCHIVE="isi-misd-tagfiler-upload.jar,apache-mime4j-0.6.jar,commons-codec-1.4.jar,commons-logging-1.1.1.jar,httpclient-4.0.3.jar,httpcore-4.0.1.jar,httpmime-4.0.3.jar,jakarta-commons-httpclient-3.1.jar,jsse.jar,plugin.jar"
  width=1010 height=600  MAYSCRIPT >
<PARAM name="tagfiler.server.url" value="${target}"/>
<PARAM name="tagfiler.idle.mins" value="${expiremins}"/>
<PARAM name="classloader_cache" value="false" />
<PARAM name="separate_jvm" value="true" />
$if testfile:
	<PARAM name="tagfiler.applet.test" value="${testfile}"/>
<hr><b>You must have Java-enabled browser (JRE 1.5+) to run the TagFiler Applet.
  Download JRE 1.5 for your system from the following link:</b><br/>
<a href="http://www.java.com/en/download/manual.jsp">http://www.java.com/en/download/manual.jsp</a><br/><hr>
</APPLET>
</center>
