$def with (tvars)
$ target = tvars.get('target')
$ expiremins = tvars.get('expiremins')
$ testfile = tvars.get('testfile')
$ tagnames = tvars.get('tagnames')
$if tagnames:
	<div>
		<table>
			<tr>
				<td class="study-wrapper"><b>Required Tags</b></td>
				<td class="study-wrapper"><b>File(s) that will be uploaded</b></td>
			</tr>
			<tr class="study-wrapper" >
				<td>
					<div class="custom-tags">
						<table class="table-wrapper" id="Required Tags">
						$for tagname in tagnames:
							<tr>
								<td class="tag-name">${tagname}</td>
								<td><input type="text" /></td>
							</tr>
						</table>
					</div>
				</td>
				<td class="files-tree-wrapper">
					<table class="files-tree-wrapper">
						<tr>
							<td>
								<div class="files-tree">
									<table>
										<tr>
											<td class="text-tree" id="Files">
											$for i in 'File(s) that will be uploaded':
												&nbsp;
											</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
<center>
<APPLET NAME="TagFileUploader" CODE="edu.isi.misd.tagfiler.TagFilerUploadApplet" CODEBASE="/tagfiler/static"
 ARCHIVE="isi-misd-tagfiler-upload.jar,apache-mime4j-0.6.jar,commons-codec-1.4.jar,commons-logging-1.1.1.jar,httpclient-4.0.3.jar,httpcore-4.0.1.jar,httpmime-4.0.3.jar,jakarta-commons-httpclient-3.1.jar,jsse.jar,plugin.jar"
  width=270 height=50  MAYSCRIPT >
<PARAM name="tagfiler.server.url" value="${target}"/>
<PARAM name="tagfiler.idle.mins" value="${expiremins}"/>
<PARAM name="classloader_cache" value="false" />
<PARAM name="separate_jvm" value="true" />
$if testfile:
	<PARAM name="tagfiler.applet.test" value="${testfile}"/>
<hr><b>You must have Java-enabled browser (JRE 1.5+) to run the TagFiler Applet.
  Download JRE 1.5 for your system from the following link:</b><br/>
<a href="http://www.java.com/en/download/manual.jsp">http://www.java.com/en/download/manual.jsp</a><br/><hr>
</APPLET>
</center>
<center>
<button type="button" name="Upload All" id="Upload All" disabled="disabled" onclick="uploadAll()" >Upload All</button>
</center>
<center>
	<table>
		<tr>
			<td class="status-wrapper" id="Status" ><b>Click "Upload All" to begin file upload</b></td>
		</tr>
		<tr>
			<td>
				<table class="table-border">
					<tr>
						<td id="ProgressBar">
						$for i in 'Click "Upload All" to begin file upload':
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</center>
