$def with (controlnum, tags, files, direction, success, error)
$if success:
	<h2>Completed</h2>
	<p>
	<b>${success}</b>
$elif error:
	<h2>Failed</h2>
	<div class="error">${error}</div>
$else:
	<h2>Status</h2>
	The status of the transfer is unknown.
See below for a summary of the study.
</p>
<h2>Study Information</h2>
$if controlnum:
	<p><div class="controlnum">Control number: ${controlnum}</div>
	$if direction == 'upload':
		Please write this control number on the visit inventory form.
</p><p>
<table border=1>
$for tag in tags:
	$ tagname, vals = tag
	<tr><td>${tagname}</td>
	<td>
	$for val in vals:
		${val}
	</td>
	</tr>
</table>
<p>Please compare this study information with that on the visit inventory form.</p>
</p>
<h2>Study Files</h2>
<ul>
$for file in files:
	<li>${file}</li>
</ul>
