$def with (controlnum, tags, files, success, error)
$if success:
	<h2>Upload Completed</h2>
	<p>
	<b>${success}</b>
$elif error:
	<h2>Upload Failed</h2>
	<b>${error}</b>
$else:
	<h2>Upload Status</h2>
	The status of the transfer is unknown.
See below for a summary of what was transferred.
</p>
<h2>Study Information</h2>
$if controlnum:
	<p><div class="controlnum">Control number: ${controlnum}</div>
	Please write this control number on the visit inventory form.</p>
<p>
<table border=1>
$for tag in tags:
	$ tagname, vals = tag
	<tr><td>${tagname}</td>
	<td>
	$for val in vals:
		${val}
	</td>
	</tr>
</table>
</p>
<h2>Study Files</h2>
<ul>
$for file in files:
	<li>${file}</li>
</ul>
